<div
  class="overlay fixed top-0 bottom-0 right-0 left-0 bg-[rgba(0,0,0,0.5)] z-[999] mp-transition-5 mp-invisible cursor-test"
></div>
<!-- end overlay -->
<div
  class="z-[9999] justify-between mobile-menu mp-mobile-menu-invisible fixed top-0 left-0 bottom-0 min-w-[400px] md:min-w-[330px] bg-white ml-0 px-5 pt-8 pb-5 text-primary overscroll-y-auto mp-transition-5"
>
  <nav class="w-full flex flex-col h-full">
    <div
      class="flex flex-row w-full py-4 focus-within:border-b focus-within:border-primary mp-transition-5 mb-[30px]"
    >
      <input
        type="search"
        class="border-0 outline-0 w-full"
        id="searchInput"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <span class="input-group-text border-0 text-lg" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <!-- end search mobile -->

    <ul class="font-semibold">
      <li class="mp-mobile-menu-item">
        <a href="" class="mp-mobile-menu-item-a">
          <span>HOME</span>
          <i class="fa-solid fa-caret-right opacity-50"></i>
        </a>
      </li>
      <li class="mp-mobile-menu-item">
        <a href="" class="mp-mobile-menu-item-a">
          <span> SHOP </span>
          <i class="fa-solid fa-caret-right opacity-50"></i
        ></a>
      </li>
      <li class="mp-mobile-menu-item">
        <a href="" class="mp-mobile-menu-item-a">
          <span> FEATURES </span>
          <i class="fa-solid fa-caret-right opacity-50"></i
        ></a>
      </li>
      <li class="mp-mobile-menu-item">
        <a href="" class="mp-mobile-menu-item-a">
          <span> PAGES </span>
          <i class="fa-solid fa-caret-right opacity-50"></i
        ></a>
      </li>
      <li class="mp-mobile-menu-item">
        <a href="" class="mp-mobile-menu-item-a">
          <span> BLOG </span>
          <i class="fa-solid fa-caret-right opacity-50"></i
        ></a>
      </li>
    </ul>
    <!-- end item mobile -->

    <ul class="font-semibold items-end mt-auto">
      <li class="mp-mobile-menu-item">
        <a href="" class="flex flex-row items-center">
          <div class="flex flex-row items-center">
            <i class="fa-regular fa-heart text-xl mr-2"></i>
            <span> WHIST LIST </span>
          </div>
          <span class="ml-auto text-sm bg-primary text-white px-2 rounded-full"
            >0</span
          >
        </a>
      </li>
      <li class="mp-mobile-menu-item">
        <a href="">
          <i class="fa-regular fa-user text-xl mr-2"></i>
          <span> USER</span>
        </a>
      </li>
    </ul>
    <!-- end whist list & user -->
  </nav>
</div>
<!-- end mobile menu -->
